venv/

# macOS
.DS_Store

# virtual env
.venv/
venv/

# data
data/processed/
data/cars.csv

# notebook outputs
.ipynb_checkpoints/

# mappings templates and backups
**/*_template.csv
**/*_backup.csv

# others
*.pyc
__pycache__/
# raw data (local copies)
data/raw/

# notebook temp & mapping templates
.ipynb_checkpoints/
notebook/mappings/*_template.csv
notebook/mappings/*_backup.csv

# macOS
.DS_Store
